<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css" />
  </head>
  <body>
    <header>
      <a href="<%= link.href %>">Login</a>
    </header>
    <div class="container">
      <h1>Register</h1>
      <table>
        <tr>
          <td>Name</td>
          <td><textarea></textarea></td>
        </tr>
        <tr>
          <td>Email Address</td>
          <td><textarea></textarea></td>
        </tr>
        <tr>
          <td>Password</td>
          <td><textarea></textarea></td>
        </tr>
        <tr>
          <td>Confirm Password</td>
          <td><textarea></textarea></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <button>Register</button>
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>