<!DOCTYPE html>
<html>
  <head>
    <title>user</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div>IDで指定されたユーザーを表示する</div>
   
    <%= user.firstName %><%= user.lastName %>

  </body>
</html>